@import url("/node_modules/@fortawesome/fontawesome-free/css/all.min.css");
* {
  margin: 0;
}

html,
body {
  height: 100%;
  flex-direction: column;
}

body {
  display: flex;
  background-color: gray;
}

header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

h1 {
  color: red;
  gap: 5px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

main {
  display: flex;
  flex: 2;
}
